.navbar {
    background-color: transparent !important; 
    position: relative; 
  z-index: 1000; 
}
  
.navbar-text {
    color: white !important; 
}
  
.container {
    margin-top: 5px; 
}
.navbar .navbar-nav .nav-link {
    color: white !important; 
  }

.carousel-section {
    margin-top: -100px; 
  }
  
  .quienes-somos {
    background-color: #000; 
    color: #fff; 
    padding: 60px 0; 
  }
  
  .quienes-somos-title {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .quienes-somos-line {
    border-top: 1px solid #888; 
    width: 80%; 
    margin: 0 auto 20px; 
  }
  
  .quienes-somos-item {
    text-align: center; 
  }
  
  .quienes-somos-linea {
    border-top: 3px solid #00CED1; 
    width: 40px; 
    margin: 20px auto; 
  }
  
  .icono {
    font-size: 24px; 
    margin-bottom: 10px; 
  }
  
  @keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-once {
    animation: rotation 2s linear;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #000;
}

/* CSS */
.blue-background {
    background-color: #00CED1; 
    color: white;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.quienes-somos {
    color: #fff; 
    padding: 60px 0;
}

.quienes-somos .card {
    background-color: #000; 
    color: #fff; 
    border: none; 
}

.quienes-somos .card-title {
    background-color: #00CED1; 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}
.card-title {
    text-align: center; 
}

.icon-white {
    color: white;
    display: block; 
    margin: auto; 
}


.destacados-title {
    text-align: center;
    margin-bottom: 20px;
}

.destacados-line {
    border-top: 1px solid #888;
    width: 80%;
    margin: 0 auto 20px;
}

.destacados-card {
    background-color: #00CED1; 
    color: #fff; 
    border: none; 
    border-radius: 0; 
}

.destacados-card .card-body {
    padding: 15px; 
}

.destacados-card .card-text {
    font-size: 16px; 
}

.destacados-title {
    color: #fff;
}
.destacados-card img {
    height: 200px; 
    object-fit: cover; 
}

.contacto-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    color: white;
}

.contacto-line {
    border-top: 1px solid #888;
    width: 80%;
    margin: 0 auto 20px;
}

#Contacto label,
#Contacto .form-control {
    color: white !important;
}

#messageInput {
    height: 200px; 
}
#Contacto {
    margin-bottom: 40px; 
}

.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-text {
    margin-left: 80px; 
    font-size: 20px;
}
#iconosfooter .fa-brands {
    font-size: 33px; 
    margin-right: 10px; 
    color: white;
}











